:root {
	--navbar-transparency: 0.8;
	--navbar-height: 47px;
}

/* @font-face {
	font-family: "Segoe UI Variable Small";
	src: local("Segoe UI Variable Small"),
		url("../fonts/SegoeUI-VF.ttf") format("truetype-variations");
	font-variation-settings: "opsz" 1;
	font-weight: 300 700;
	font-style: normal;
}
@font-face {
	font-family: "Segoe UI Variable Text";
	src: local("Segoe UI Variable Text"),
		url("../fonts/SegoeUI-VF.ttf") format("truetype-variations");
	font-variation-settings: "opsz" 10.5;
	font-weight: 300 700;
	font-style: normal;
}
@font-face {
	font-family: "Segoe UI Variable Display";
	src: local("Segoe UI Variable Display"),
		url("../fonts/SegoeUI-VF.ttf") format("truetype-variations");
	font-variation-settings: "opsz" 36;
	font-weight: 300 700;
	font-style: normal;
} */

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	font-size: 12px;
	background: linear-gradient(rgb(35, 15, 214), transparent),
		linear-gradient(to top left, rgb(123, 1, 128), transparent),
		linear-gradient(to top right, rgb(28, 177, 65), transparent),
		linear-gradient(
			320deg,
			hsl(240deg 100% 20%) 0%,
			hsl(234deg 97% 26%) 26%,
			hsl(229deg 95% 32%) 43%,
			hsl(226deg 96% 38%) 58%,
			hsl(223deg 97% 44%) 76%,
			hsl(221deg 100% 50%) 100%
		);
	background-blend-mode: screen;
	background-image: url("../imgs/wallpaper.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.working-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: calc(100vh - var(--navbar-height) - 1px);
}

#desktop {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	overflow: auto;
}

#desktop .icon {
	flex: 0 1 auto;
	align-self: flex-start;
	width: 75px;
	height: 95px;
	margin: 4px 2px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-flow: column;
}

.icon:hover {
	border-radius: 3px;
	background-color: #ececec32;
}

/* .icon:focus,
.icon:focus-visible,
.icon:focus-within  */
.icon-selected {
	border-radius: 3px;
	background-color: #ececec56;
}

figure.icon img {
	width: 48px;
	height: auto;
	max-height: 48px;
	margin-top: 3px;
}

figcaption {
	width: 100%;
	inline-size: 71px;
	height: min-content;
	padding: 0 2px;
	position: relative;
	margin-top: 6px;
}

textarea {
	width: 100%;
	resize: none;
	outline: none;
	text-align: center;
	font-family: "Segoe UI Variable Static Text", sans-serif;
	overflow-wrap: break-word;
	text-overflow: clip;
	white-space: normal;
	overflow: hidden;
	border: 0;
	margin: -2px;
	padding: 2px;
	/* background-color: #fff; */

	color: #000;
}

textarea:read-only::selection {
	background: transparent;
}

#desktop > figure > img {
	user-select: none;
}

textarea::-webkit-scrollbar {
	display: none;
}

textarea:read-only {
	text-shadow: 2px 1px 3px rgb(0, 0, 0);
	background-color: transparent;
	color: rgba(255, 255, 255, 0.9);
}

#navbar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: var(--navbar-height);
	background-color: rgba(6, 8, 32, var(--navbar-transparency));
	display: flex;
	flex-direction: row;
	align-items: center;
	border-top: 1px solid rgb(255, 255, 255);
	/* margin-top: 2px; */
}
#navbar > div {
	margin: 0px;
	width: 44px;
	height: var(--navbar-height);
	background: linear-gradient(
		90deg,
		rgba(255, 0, 0, 0.1) 0%,
		rgba(0, 0, 255, 0.1) 100%
	);
}

#navbar > .navbar-menu {
	width: 56px;
	background: rgba(255, 0, 0, 0.1);
}

#navbar > .navbar-search {
	width: 42.5px;
	background: rgba(0, 255, 0, 0.1);
}

#navbar > .navbar-spacer {
	max-width: 100%;
	background: rgba(255, 0, 255, 0.1);
	flex-grow: 1;
	width: min-content;
}

#navbar > .navbar-volume {
	width: 30px;
	background: rgba(0, 0, 255, 0.1);
}

#navbar > .navbar-time {
	width: 97px;
	background: rgba(0, 255, 0, 0.1);
}

#navbar > .navbar-minimize {
	width: 12px;
	background: rgba(255, 0, 0, 0.1);
}

.datetime {
	color: #fff;
	font-size: 11px;
	user-select: none;
}

#windows {
	z-index: -1;
}

.errors {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgb(104, 23, 23);
	z-index: 999;
	text-align: center;
	align-content: center;
	white-space: pre-wrap;
}

.hidden {
	display: none;
}

@media only screen and (width <= 900px), (height <= 500px) {
	.errors.hidden {
		display: block;
	}
	.errors.hidden::before {
		content: "Chyba";
		color: #f00;
		font-size: 32px;
	}
	.errors.hidden::after {
		content: "Příliš malé rozlišení monitoru";
		color: #efefefef;
		font-size: 20px;
		position: relative;
		left: -0.4em;
	}
}
