body {
	background-color: rgb(25, 25, 25);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 100vw;
	height: 100vh;
	margin: 0;
	user-select: none;
	color: #fff;
	overflow: hidden;
	font-family: "Segoe UI Variable Static Text", sans-serif;
	text-shadow: 2px 1px 3px rgb(0, 0, 0);
}
:root {
	font-size: 18px;
}

hr {
	border: 1px solid rgb(56 56 56);
	border-bottom: transparent;
	width: 85%;
}

body > .header {
	display: block;
	width: 100%;
	min-height: 46px;
	/* background-color: red; */
	border-bottom: 2px solid rgba(48, 48, 48, 0.7);
}

body > .footer {
	display: block;
	width: 100%;
	min-height: 0;
	/* background-color: blue; */
	box-shadow: 0 0 2px 4px rgba(28, 28, 28, 0.7);
	border-top: 18px solid rgba(28, 28, 28, 0.7);
	background-color: rgb(28, 28, 28);
}

body > .container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	height: 100%;
	/* background-color: green; */
	min-width: 0;
	min-height: 0;
}

.container > .sidebar {
	min-width: var(--explorer-side-size);
	height: 100%;
	/* background-color: aqua; */
	border-right: 2px solid rgba(48, 48, 48, 0.7);
	/* box-shadow: 0 -3px 3px 1px rgb(8 8 8 / 50%) inset,
		0 0 1px 2px rgba(32, 32, 32, 0.5); */
}

.container > .content {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 100%;
	/* background-color: lime; */
	box-shadow: 0 0 1px 2px rgba(28, 28, 28, 0.7) inset;
	padding-left: 12px;
	--content-width: calc(100% - 12px - var(--explorer-side-size));
	width: var(--content-width);
	overflow-y: scroll;
	overflow-x: hidden;
	min-width: 0;
	min-height: 0;
	z-index: 1;
	/* padding: 10px; */
}

:root {
	--sorting-size-name: 40%;
	--sorting-size-change: 25%;
	--sorting-size-type: 20%;
	--sorting-size-size: 15%;

	--files-size-row: 48px;
}

#sorting {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	min-height: 25px;
	align-items: center;
	position: fixed;
	width: calc(var(--content-width) - 19px);
	background-color: rgb(25, 25, 25);
	font-size: 0.7rem;
}

#sorting > * {
	border-right: 1px solid rgba(99, 99, 99, 0.9);
	padding-left: 8px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#sorting > :nth-child(1) {
	width: var(--sorting-size-name);
}
#sorting > :nth-child(2) {
	width: var(--sorting-size-change);
}
#sorting > :nth-child(3) {
	width: var(--sorting-size-type);
}
#sorting > :nth-child(4) {
	width: var(--sorting-size-size);
	border: none;
}

#files {
	padding-top: 25px;
	display: flex;
	flex-flow: column;
	min-height: 0;
	font-size: 0.65rem;
}

#files > .file {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	min-height: var(--files-size-row);
}

#files > .file:hover,
#files > .file.selected {
	background-color: rgba(80, 80, 80, 0.9);
}

.file > * {
	padding-left: 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.file > .name {
	align-items: center;
	display: flex;
	margin-left: -10px;
}

.file img {
	height: calc(var(--files-size-row) * 0.375);
	width: auto;
	padding-left: 6px;
}

.file > .name > span {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-left: 4px;
}

#files > .file > :nth-child(1) {
	width: calc(var(--sorting-size-name) + 10px);
}
#files > .file > :nth-child(2) {
	width: var(--sorting-size-change);
}
#files > .file > :nth-child(3) {
	width: var(--sorting-size-type);
}
#files > .file > :nth-child(4) {
	width: var(--sorting-size-size);
}

::-webkit-scrollbar {
	width: 15px;
	height: 15px;
	background: linear-gradient(
		180deg,
		rgba(23, 23, 23, 1) 0%,
		rgba(23, 23, 23, 1) 94%,
		rgba(28, 28, 28, 0) 100%
	);
	transition: all 2225ms ease-in-out;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(139, 139, 139, 0.9);
	border-radius: 10px;
	border: 6px solid transparent;
	background-clip: padding-box;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 2225ms ease-in-out;
}

/* TODO: add bigger thumb if hover on buttons */

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
	border: 4px solid transparent;
	background-color: rgb(128, 128, 128, 0.9);
	transition: all 2225ms ease-in-out;
}
::-webkit-scrollbar-button {
	width: 15px;
	height: 15px;
	border: 3px solid transparent;
	background-clip: padding-box;
	background-position: center;
	background-repeat: no-repeat;
}

::-webkit-scrollbar-button:start:decrement {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 9'%3E%3Cpath fill='%238b8b8b' d='m5.7 1.7 3.1 4.2c.6.9-.1 2.1-1.2 2.1H1.4C.3 8-.4 6.8.2 5.9l3.1-4.2c.5-.9 1.9-.9 2.4 0z' /%3E%3C/svg%3E");
}
::-webkit-scrollbar-button:start:increment {
	display: none;
}
::-webkit-scrollbar-button:end:increment {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 9'%3E%3Cpath fill='%238b8b8b' d='m5.7 7.3 3.1-4.2C9.4 2.2 8.7 1 7.6 1H1.4C.3 1-.4 2.2.2 3.1l3.1 4.2c.5.9 1.9.9 2.4 0z' /%3E%3C/svg%3E");
}
::-webkit-scrollbar-button:end:decrement {
	display: none;
}

::-webkit-scrollbar-button:start:active:decrement {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 9'%3E%3Cpath fill='%23606060' d='m5.7 1.7 3.1 4.2c.6.9-.1 2.1-1.2 2.1H1.4C.3 8-.4 6.8.2 5.9l3.1-4.2c.5-.9 1.9-.9 2.4 0z' /%3E%3C/svg%3E");
}
::-webkit-scrollbar-button:end:active:increment {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 9'%3E%3Cpath fill='%23606060' d='m5.7 7.3 3.1-4.2C9.4 2.2 8.7 1 7.6 1H1.4C.3 1-.4 2.2.2 3.1l3.1 4.2c.5.9 1.9.9 2.4 0z' /%3E%3C/svg%3E");
}
