@import url(./variables.css);
@import url(./fonts.css);

:root {
	font-size: var(--font-size);
}

* {
	margin: 0;
	padding: 0;
	touch-action: none;
}

.working-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: calc(100vh - var(--navbar-height) - 1px);
}

.no-select {
	-webkit-user-select: none;
	user-select: none;
}

.errors {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgb(104, 23, 23);
	z-index: 999;
	text-align: center;
	align-content: center;
	white-space: pre-wrap;
	z-index: 999999;
}

.errors:before {
	color: #f00;
	font-size: 32px;
}

.errors:after {
	color: #efefefef;
	font-size: 20px;
	position: relative;
	left: -0.4em;
}

.hidden {
	display: none !important;
}

.test {
	top: 400px !important;
	left: 300px !important;
}

.errors.db-error:before {
	content: "Chyba";
}

.errors.db-error:after {
	content: var(--db-error);
}

.uploading {
	display: none;
	pointer-events: none;
}

.uploading.upload {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 255, 0.2);
	text-align: center;
	align-content: center;
}

.blue-light-filter,
.brightness {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	mix-blend-mode: multiply;
	z-index: 11000;
}

.brightness {
	background-color: hwb(0 0% 100% / calc(1 * var(--brightness)));
}

.blue-light-filter {
	background: rgba(255, 255, 160, calc(1 * var(--blue-filter)));
}
