@media only screen and (max-width: 800px), (max-height: 500px) {
	.errors.hidden {
		display: block !important;
	}
	.errors.hidden::before {
		content: "Chyba";
		color: #f00;
		font-size: 32px;
	}
	.errors.hidden::after {
		content: "Příliš malé rozlišení monitoru";
		color: #efefefef;
		font-size: 20px;
		position: relative;
		left: -0.4em;
	}
}