@media only screen and (max-width: 800px), (max-height: 500px) {
	.errors.hidden {
		display: block !important;
	}
	.errors.hidden::before {
		content: "Chyba";
	}
	.errors.hidden::after {
		content: "Příliš malé rozlišení monitoru";
	}
}