#navbar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: var(--navbar-height);
	background-color: rgba(8, 41, 93, var(--navbar-transparency));
	display: flex;
	flex-direction: row;
	align-items: center;
	box-shadow: 0px 3px 2px 3px
		rgb(196 212 255 / calc(35% * (var(--navbar-transparency) * 3)));
}
#navbar > div {
	margin: 0px;
	width: 44px;
	height: var(--navbar-height);
	background: linear-gradient(
		90deg,
		rgba(255, 0, 0, var(--navbar-dev)) 0%,
		rgba(0, 0, 255, var(--navbar-dev)) 100%
	);
}

#navbar > .navbar-menu {
	width: 56px;
	background: rgba(255, 0, 0, var(--navbar-dev));
	background-image: url("../media/ui/main-menu.webp");
	background-position: 85% 50%;
	background-repeat: no-repeat;
	background-size: 80%;
}

/* #navbar > .navbar-menu:hover {
	background-image: url("../media/ui/main-menu-hover.webp");
} */

#navbar > .navbar-search {
	width: 42.5px;
	background: rgba(0, 255, 0, var(--navbar-dev));
	background-image: url("../media/ui/search.webp");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 115%;
}

/* #navbar > .navbar-search:hover {
	background-image: url("../media/ui/search-hover.webp");
} */

.navbar-search > .search-menu {
	position: relative;
	top: calc(var(--navbar-height) + 12px);
	left: -56px;
	width: 40vw;
	min-width: 550px;
	height: 65vh;
	min-height: 400px;
	/* background-color: red; */
	margin: -12px 0 0 12px;
	border-radius: 6px;
	background-color: rgba(16, 55, 122, 0.9);
	border: 1px solid rgb(55, 55, 55);
	box-shadow: 1px 1px 4px -1px rgb(0 12 26 / 50%);
	border-radius: 6px;
	transition: top 150ms ease-in 0ms, opacity 100ms ease-out 30ms;
	/* z-index: -1; */
	opacity: 0;
}

.navbar-search > .search-menu.open {
	opacity: 1;
	top: -65vh;
	transition: top 150ms cubic-bezier(0.3, 0, 0.8, 0.15),
		opacity 100ms ease-out 30ms;
	/* z-index: 5; */
}

#navbar > .navbar-spacer {
	max-width: 100%;
	background: rgba(255, 0, 255, var(--navbar-dev));
	flex-grow: 1;
	width: min-content;
}

#navbar > .navbar-volume {
	width: 30px;
	background: rgba(0, 0, 255, var(--navbar-dev));
}

#navbar > .navbar-time {
	width: 97px;
	background: rgba(0, 255, 0, var(--navbar-dev));
}

#navbar > .navbar-minimize {
	width: 12px;
	background: rgba(255, 0, 0, var(--navbar-dev));
}

.datetime {
	color: #fff;
	font-size: 11px;
	position: relative;
	top: calc(-363px - 1em);
}

.calendar-container {
	position: relative;
	bottom: calc(345px + var(--navbar-height));
	left: 110px;
	background: rgb(20, 61, 117);
	width: 340px;
	height: max-content;
	border: 1px solid rgb(55, 55, 55);
	box-shadow: 1px 1px 4px -1px rgb(0 12 26 / 50%);
	border-radius: 6px;
	box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
	color: #fff;
	transition: left 150ms ease-in-out;
}

.calendar-container.open {
	left: -240px;
	transition: left 150ms cubic-bezier(0.3, 0, 0.8, 0.15);
}

.calendar-container header {
	display: flex;
	align-items: center;
	padding: 25px 30px 10px;
	justify-content: space-between;
	padding: 0 20px 0px;
}

header .calendar-navigation {
	display: flex;
}

header .calendar-navigation span {
	height: 38px;
	width: 38px;
	margin: 0 1px;
	text-align: center;
	line-height: 38px;
	border-radius: 50%;
	user-select: none;
	color: hsl(0, 0%, 65%);
	font-size: 1.9rem;
}

.calendar-navigation span:last-child {
	margin-right: -10px;
}

header .calendar-navigation span:hover {
	background: rgb(33, 69, 120);
}

header .calendar-current-date {
	font-weight: 500;
	font-size: 1.3em;
	font-weight: 600;
}

.calendar-body {
	padding: 0px 0px 10px 0px;
}

.calendar-body ul {
	list-style: none;
	flex-wrap: wrap;
	display: flex;
	text-align: center;
	padding: 0;
}

.calendar-body .calendar-dates {
	margin: 0;
	padding: 0 2px;
}

.calendar-body li {
	width: calc(100% / 7);
	font-size: 1.07em;
	/* color: #414141; */
}

.calendar-body > .calendar-weekdays {
	padding: 0 2px;
}

.calendar-body .calendar-weekdays li {
	font-weight: 400;
	font-size: 1.1em;
}

.calendar-body .calendar-dates li {
	margin: 17px 0 12px 0;
	position: relative;
	z-index: 1;
}

.calendar-dates li.inactive {
	color: #aaa;
}

.calendar-dates li::before {
	position: absolute;
	content: "";
	z-index: -1;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid transparent;
	transform: translate(-50%, -50%);
	transition: all 100ms linear;
}

.calendar-body > .calendar-dates li.active {
	/* color: #fff; */
	color: #000 !important;
}

.calendar-body > .calendar-dates li.active::before {
	background-color: rgb(64, 189, 255);
}

.calendar-body > .calendar-dates li.active:active::before {
	background-color: rgb(55, 163, 227) !important;
}

.calendar-body > .calendar-dates li:not(.active):hover::before {
	background-color: rgba(71, 107, 159, 0.7);
}

.calendar-body > .calendar-dates li:focus::before {
	border: 1px solid rgb(57, 166, 230);
}

.calendar-body > .calendar-dates li:focus {
	color: rgb(156, 235, 255);
}

.calendar-body > .calendar-dates li:active:hover::before {
	background-color: rgb(29, 69, 122);
}

.calendar-body > .calendar-dates li:active:hover {
	color: rgb(51, 146, 208);
}
