:root {
	--navbar-transparency: 0.8;
	--navbar-height: 47px;
	--navbar-dev: 0;
	/* --navbar-dev: 0.2; */

	--app-controls-size: 13px;
	--app-controls-extra: 9px;

	--explorer-side-size: 176px;
	font-size: 16px;
}


* {
	margin: 0;
	padding: 0;
}