#windows {
	pointer-events: none;
}

#windows > .windows-app {
	position: absolute;
	top: 50px;
	left: 250px;
	min-width: 400px;
	min-height: 350px;
	background-color: rgb(25, 25, 25);
	border: 1px solid rgb(55, 55, 55);
	border-radius: 6px;
	box-shadow: 1px 1px 4px -1px rgb(0 12 26 / 50%);
	color: #fff;
	pointer-events: all;
	user-select: none;
	transition: opacity 250ms, transform 250ms;
	transition-timing-function: ease-in-out;
	opacity: 1;
	transform: none;
	animation: app-create 100ms ease-in-out;
}

@keyframes app-create {
	0% {
		transform: scale(0.1);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

#windows > .windows-app.closing {
	opacity: 0;
	transform: scale(0);
}

#windows > .windows-app.active {
	border: 1px solid rgb(0, 99, 177);
}

.windows-app .app-padding {
	width: 100%;
	height: 23px;
	background-color: rgb(28, 28, 28);
}

.windows-app > .app-header {
	width: 100%;
	height: min(fit-content, calc(10px + var(--app-controls-size)));
	background-color: rgb(32, 32, 32);
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	flex-flow: row;
	border-radius: 6px 6px 0 0;
}

.windows-app > .app-content {
	width: 100%;
	height: 100%;
	min-height: 300px;
}

.windows-app > .app-content:before {
	content: "Načítání...";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2.5em;
	/* color: #fff; */
	animation: loading-text-animation 4s linear infinite;
}

@keyframes loading-text-animation {
	0% {
		color: #6e6e6e;
	}
	10% {
		color: #6e6e6e;
	}
	30% {
		color: white;
	}
	50% {
		color: #6e6e6e;
	}
	60% {
		color: #6e6e6e;
	}
	80% {
		color: white;
	}
	100% {
		color: #6e6e6e;
	}
}

.app-v1 {
	display: flex;
	flex-flow: row;
	align-self: center;
	align-items: center;
	gap: 4px;
	padding: 2px 0 0 2px;
}

.app-v1 > .app-icon,
.app-icon > img {
	width: calc(
		10px + var(--app-controls-size) + var(--app-controls-extra) - 4px
	);
	height: calc(
		10px + var(--app-controls-size) + var(--app-controls-extra) - 4px
	);
	/* background-color: green; */
	/* margin: 2px; */
}

.app-v1 > .app-icon {
	margin: 2px;
}

.app-v1 > .app-title {
	font-family: "Segoe UI Variable Static Text", sans-serif;
	font-size: 1.1em;
}

.app-header > .app-controls {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-flow: row;
}

.app-header > .app-controls div {
	display: block;
	position: relative;
}

.app-controls > div {
	padding: max(
			var(--app-controls-extra),
			calc(-1 * var(--app-controls-extra))
		)
		calc(
			10px +
				max(
					var(--app-controls-extra),
					calc(-1 * var(--app-controls-extra))
				)
		);
	fill: red;
}

.app-controls > .minimize {
	content: url("../media/ui/app-minimize.svg");
	width: auto;
	height: var(--app-controls-size);
}
.app-controls > .maximize {
	content: url("../media/ui/app-maximize.svg");
	width: auto;
	height: var(--app-controls-size);
}

.maximized .app-controls > .maximize {
	content: url("../media/ui/app-restore.svg");
	width: auto;
	height: var(--app-controls-size);
}

.app-controls > .close {
	content: url("../media/ui/app-close.svg");
	width: auto;
	height: var(--app-controls-size);
}

.active .app-header > .app-controls > .minimize:hover,
.active .app-header > .app-controls > .maximize:hover {
	background-color: rgb(15, 26, 40);
}

.app-header > .app-controls > .minimize:hover,
.app-header > .app-controls > .maximize:hover {
	background-color: #2d2d2d;
}

.app-header > .app-controls > .close {
	border-radius: 0 5px 0 0;
}

.app-header > .app-controls > .close:hover {
	background-color: rgb(196, 43, 28);
}

.windows-app.active > .app-header {
	background-color: rgba(0, 12, 26, 0.7);
}

iframe {
	position: relative;
	width: 100%;
	min-height: 350px;
	height: 100%;
	border: none;
	border-radius: 0 0 6px 6px;
}

.detect {
	position: absolute;
	top: 0;
	width: 100%;
	min-height: 350px;
	height: 100%;
	border: none;
	border-radius: 0 0 6px 6px;
	background-color: transparent;
	/* pointer-events: all; */
}

/* #windows:has(.resizing) > .windows-app > iframe {
	pointer-events: none;
} */
#windows > .windows-app > .app-content:after {
	position: absolute;
	background-color: transparent;
	top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
	pointer-events: none;
}

#windows:has(.resizing) > .windows-app > .app-content:after {
	background-color: rgba(128, 255, 128, 0.2);
	pointer-events: all;
}

/* #windows:has(.resizing) > .windows-app > .app-content:after, */
#windows:has(.dragging) > .windows-app > .app-content:after {
	position: absolute;
	top: calc(12px + var(--app-controls-size) + var(--app-controls-extra));
	left: 0;
	content: "";
	width: 100%;
	height: calc(
		100% - calc(12px + var(--app-controls-size) + var(--app-controls-extra))
	);
	background-color: transparent;
	background-color: rgba(255, 0, 0, 0.1);
	border-radius: 0 0 6px 6px;
}

.windows-app.maximized {
	top: -1px !important;
	left: 0 !important;
	min-width: 100vw !important;
	border-radius: 0 !important;
	border: 0 !important;
}
.windows-app.maximized > .app-content {
	height: calc(
		100vh + 1px - var(--navbar-height) -
			max(
				calc(
					var(--app-controls-size) + 2 *
						max(
							var(--app-controls-extra),
							calc(-1 * var(--app-controls-extra))
						)
				),
				calc(
					12px + var(--app-controls-size) + var(--app-controls-extra)
				)
			)
	) !important;
}

.windows-app.maximized iframe {
	border-radius: 0 0 0 0 !important;
}

.windows-app.minimized {
	filter: opacity(0);
	display: none !important;
}

.windows-app > .resizable {
	position: absolute;
	background-color: transparent;
	background-color: rgba(255, 0, 0, 0.4);
}

.resizable.negrip {
	top: -5px;
	right: -5px;
	height: 6px;
	width: 6px;
	cursor: ne-resize;
}

.resizable.segrip {
	bottom: -5px;
	right: -5px;
	height: 6px;
	width: 6px;
	cursor: se-resize;
}

.resizable.nwgrip {
	top: -5px;
	left: -5px;
	height: 6px;
	width: 6px;
	cursor: nw-resize;
}

.resizable.swgrip {
	bottom: -5px;
	left: -5px;
	height: 6px;
	width: 6px;
	cursor: sw-resize;
}

.resizable.ngrip {
	top: -5px;
	left: 0;
	height: 5px;
	width: 100%;
	cursor: n-resize;
}

.resizable.egrip {
	right: -5px;
	top: 0;
	height: 100%;
	width: 5px;
	cursor: e-resize;
}

.resizable.sgrip {
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 5px;
	cursor: s-resize;
}

.resizable.wgrip {
	left: -5px;
	top: 0;
	height: 100%;
	width: 5px;
	cursor: w-resize;
}
