@media only screen and (max-width: 800px), (max-height: 500px) {
	.errors.hidden {
		display: block !important;
	}
	.errors.hidden::before {
		content: "Chyba";
	}
	.errors.hidden::after {
		content: "Příliš malé rozlišení monitoru";
	}
}

@media print {
	/* @page {
		size: landscape;
	}
	body {
		writing-mode: tb-rl;
		transform: rotate(-90deg);
	}
	* {
		text-shadow: none !important;
	}

	.windows-app > .app-content:before {
		content: "" !important;
	}

	#navbar {
		border-top: 1px solid #000 !important;
	} */
	body > * {
		display: none !important;
	}

	body:after {
		content: "Do NOT print this page !!!";
	}
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation: none !important;
		transition: 0ms !important;
	}
}
