body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-image: url("login.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	align-content: center;
}

.auth-form {
	max-width: fit-content;
	margin: auto;
    z-index: 3;
}
form {
    display: flex;
    flex-flow: column;
    gap: 8px;
}

#loginAnimation {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
    object-fit: cover;
}

#loginAnimation.hidden {
	display: none;
}
