body {
	background-color: rgb(25, 25, 25);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 100vw;
	height: 100vh;
	margin: 0;
	user-select: none;
	color: hsl(0, 0%, 87%);
	overflow: hidden;
	font-family: "Segoe UI Variable Static Text", sans-serif;
	text-shadow: 2px 1px 3px rgb(0, 0, 0);
}
:root {
	font-size: 18px;
	--files-total: 0;
}

body > .header {
	display: block;
	width: 100%;
	min-height: 46px;
	/* background-color: red; */
	border-bottom: 2px solid rgba(48, 48, 48, 0.7);
	display: none;
}

body > #footer {
	display: block;
	width: 100%;
	min-height: 0;
	background-color: rgba(30, 30, 30, 1);
	font-size: 0.7rem;
	padding: 4px 5px 5px 14px;
}

#footer > .total {
	padding-right: 12px;
	width: fit-content;
	border-right: 1px solid rgb(91, 91, 91);
}

#footer > .total:after {
	content: "0";
	content: var(--files-total);
	padding-left: 8px;
}

#footer > .selected {
	padding-left: 8px;
	width: fit-content;
}

body > .container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	height: 100%;
	/* background-color: green; */
	min-width: 0;
	min-height: 0;
}

.container > .sidebar {
	min-width: var(--explorer-side-size);
	height: 100%;
	display:none;
	/* background-color: aqua; */
	/* border-right: 2px solid rgba(48, 48, 48, 0.7); */
	/* box-shadow: 0 -3px 3px 1px rgb(8 8 8 / 50%) inset,
		0 0 1px 2px rgba(32, 32, 32, 0.5); */
}

.container > .content {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 100%;
	/* background-color: lime; */
	box-shadow: 0 0 1px 2px rgba(28, 28, 28, 0.7) inset;
	padding-left: 12px;
	--content-width: calc(100% - 12px - var(--explorer-side-size));
	width: var(--content-width);
	overflow-y: scroll;
	overflow-x: hidden;
	min-width: 0;
	min-height: 0;
	z-index: 1;
	/* padding: 10px; */
}

#sorting {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	min-height: 25px;
	align-items: center;
	position: fixed;
	width: calc(var(--content-width) - 6px);
	background-color: rgba(25, 25, 25, 1);
	font-size: 0.7rem;
	margin-left: -11px;
	color: hsl(0, 0%, 90%);
}

#sorting > * {
	/* border-right: 1px solid rgba(99, 99, 99, 0.9); */
	padding: 5px 4px 4px 8px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-shadow: 0 0 transparent;
	transition: background-color 50ms linear;
	position: relative;
}

#sorting :nth-child(1) {
	padding-left: 18px;
}

#sorting > *:hover {
	background-color: rgba(39, 39, 39, 1);
}

#sorting > *:active {
	background-color: rgba(131, 131, 131, 1);
}

#sorting > :nth-child(1) {
	width: calc(var(--sorting-size-name) - 12px);
}
#sorting > :nth-child(3) {
	width: calc(var(--sorting-size-change) - 12px);
}
#sorting > :nth-child(5) {
	width: calc(var(--sorting-size-type) - 12px);
}
#sorting > :nth-child(7) {
	width: calc(var(--sorting-size-size) - 12px);
	border: none;
}

#sorting > .resize {
	content: "";
	min-width: 1px;
	min-height: 25px;
	background-color: rgba(99, 99, 99, 0.9);
	padding: 0;
	overflow: visible;
}

#sorting > .resize > .drag {
	position: absolute;
	left: -3px;
	padding: 0;
	min-width: 7px;
	height: 100%;
	cursor: col-resize;
	background-color: transparent;
	z-index: 10;
}

#sorting > .by-this:after {
	font-family: "Material Symbols Rounded";
	font-size: 1rem;
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: hsl(0, 0%, 100%);
}

.by-this.descending:after {
	content: "keyboard_arrow_down";
}

.by-this.ascending:after {
	content: "keyboard_arrow_up";
}

#files {
	position: relative;
	padding-top: 25px;
	display: flex;
	flex-flow: column;
	min-height: 0;
	font-size: 0.65rem;
	gap: 1px;
	height: 100vh;
}

#files:not(:has(.file)):after {
    content: "Složka je prázdná.";
    font-size: 0.8rem;
    color: hsla(0, 0%, 95%, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	text-shadow: 1px 1px 50px rgba(32, 32, 64, 0.75)
}

#files > .file {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	min-height: calc(var(--files-size-row) * 32px);
	border-radius: 2px;
	border: 1px solid transparent;
	scroll-margin-top: calc(var(--files-size-row) * 32px);
}

#files > .file:hover,
#files > .file.selected {
	background-color: rgba(80, 80, 80, 0.9);
	text-shadow: 0 0 transparent;
}

#files > .file:hover {
	border: 1px solid hsla(0, 0%, 65%, 0.8);
	border-radius: 0;
}

#files > .last-selected {
	border: 1px solid hsla(0, 0%, 100%, 0.8);
	border-radius: 0;
}

#files > .last-selected:not(.selected) {
	border: 1px solid hsla(0, 0%, 50%, 0.8);
	border-radius: 0;
}

.file > * {
	padding-left: 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.file > .name {
	align-items: center;
	display: flex;
	margin-left: -10px;
	color: hsl(0, 0%, 95%);
}

.file img {
	height: calc((var(--files-size-row) * 32px) * 0.5);
	width: auto;
	padding-left: 6px;
	flex-shrink: 0;
}

.file > .name > span {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-left: 4px;
}

.file > .size {
	text-align: right;
	padding: 0 10px 0 0;
}

#files > .file > :nth-child(1) {
	width: calc(var(--sorting-size-name) + 10px);
}
#files > .file > :nth-child(2) {
	width: var(--sorting-size-change);
}
#files > .file > :nth-child(3) {
	width: var(--sorting-size-type);
}
#files > .file > :nth-child(4) {
	width: var(--sorting-size-size);
}


@media print {
	* {
		color: #000 !important;
	}
}