textarea {
	border: none;
	width: 100%;
	height: calc(100vh - 22px);
	resize: none;
	outline: 0px none transparent;
	margin-top: 6px;
}

body {
	overflow: hidden;
	margin: 8px;
}

* {
    background-color: #272727;
	color: #fff;
}